prune hypergan
prune docs
prune examples
include examples/paired-linear.toml
include examples/execution/*.toml
prune worktrees
prune tests
recursive-include tests/foundation *.py
recursive-include tests/reference *.py
recursive-include tests/cuda *.py
